.container-card {
  margin: 10px;
  min-height: 93%;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .mat-list {
      flex-grow: 1;

      .center {
        justify-content: center;
        text-align: center;
        width: 100%;
      }
    }

  }
}
